
<app-carousel></app-carousel>
<div class="row mt-3" style="margin: 20px;">
    <div class="col-5">
        <h3 class="text-secondary">Write to us</h3>
        <ul>
            <li>
                <label>
                    <input type="radio" name="contact">
                    Request for proposal
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="contact">
                    Media Enquiries
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="contact">
                    Partnership Oppertunities
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="contact">
                    Issue Escalation
                </label>
            </li>
        </ul>
        <form class=" p-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Apartment, studio, or floor">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <label for="inputCity" class="form-label">City</label>
                    <textarea type="text" class="form-control" rows="3" id="inputCity"></textarea>
                </div>
            </div>
            <!-- <div class="row mt-2"> -->
            <div class="col-4 mt-2">
                <button type="submit" class="btn btn-primary" style="width: 155px;">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-7">
        <div class="contactImage2">
            <img src="../../../assets/Images/contact.jpg" alt="">
        </div>
    </div>
</div>