<div class="container">
    <div class="row mt-5">
        @for(item of products; track item.id){
      <div class="col-3 mt-3">   
    <div class="card" style="width: 18rem;">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.price}}</p>
          <a href="product/{{item.id}}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
}
    </div>
    </div>